<%- include('header'); -%>

    <h1 style="border-color:#333333;padding:5px 0px;">CARRO</h1>

    <br />
    
    <p><a href="/" class="btn btn-secondary">Voltar à lista</a></p>
    
    <br />
    
<%if(typeof ficha == 'undefined') {%>
    <h2>Inserir Carro</h2>
    
    <form method="post" action="/form">
        <table>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="latitude">Latitude:</label></th>
                <td><input type="text" name="latitude" id="latitude" placeholder="Decimal e.g. 42.990967" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="longitude">Longitude:</label></th>
                <td><input type="text" name="longitude" id="longitude" placeholder="Decimal e.g. -71.463767" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="matricula">Matrícula:</label></th>
                <td><input type="text" name="matricula" id="matricula" placeholder="E.g. 03-43-VC" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="passadeira_id">Passadeira_id:</label></th>
                <td><input type="text" name="passadeira_id" id="passadeira_id" placeholder="E.g. 03-43-VC" /></td>
            </tr>
            
            <tr>
                <td colspan="2" style="border-bottom:none;text-align:right;padding-top:25px;"><input type="reset" value="Reset" style="float:left;" class="btn btn-warning" /> <input type="submit" value="Registar" class="btn btn-info" /></td>
            </tr>
        </table>
    </form>
<% } else { %>
    <h2>Atualizar Carro</h2>

    <form method="post" action="/form/<%=ficha["id"]%>">
        <table>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="latitude">Latitude:</label></th>
                <td><input type="text" name="latitude" id="latitude" placeholder="Decimal e.g. 42.990967" value="<%=ficha["latitude"]%>" /></td>
            </tr>
            <tr>
                <th style="vertical-align:top;padding-right:20px;"><label for="longitude">Longitude:</label></th>
                <td><input type="text" name="longitude" id="longitude" placeholder="Decimal e.g. -71.463767" value="<%=ficha["longitude"]%>" /></td>
            </tr>

            <tr>
                <td colspan="2" style="border-bottom:none;text-align:right;padding-top:25px;"><input type="reset" value="Reset" style="float:left;" class="btn btn-warning" /> <input type="submit" value="Registar" class="btn btn-info" /></td>
            </tr>
        </table>
    </form>
<% } %>

<%- include('footer'); -%>
