<%- include('header'); -%>

    <h1>FILMES</h1>

    <br />
    
    <a href="/filmes/inserir" class="button">NOVO FILME</a>
    
    <div style="display:inline-block;float:right;">
        <!--<form><select><option>10</option><option>25</option></select></form>--><span style="color:gray;">A exibir 10 resultados por página (decrescente)</span>  &nbsp; <a href="/filmes?page=<%=parseInt(page)-1%>" id="pagAnt" class="button">Página anterior</a> &nbsp; Página <span id="page"><%=page%></span> de <span id="total">0</span> &nbsp; <a href="/filmes?page=<%=parseInt(page)+1%>" id="pagSeg" class="button">Próxima página</a>
    </div>
    
    <script>
    $.ajax({
      url: "/api/filmes/total",
    })
      .done(function( data) {
        //dividir o nº total de filmes pelo nº de filmes exibido por pags = total de paginas
        var itemsPerPage = 20;
        var page = parseInt($('#page').text());

        $('#total').text(Math.ceil(data / itemsPerPage));

        //se page < 2 ou > que o total desligar os botões
        if(page <2) {
            $('#pagAnt').hide();
        }
        if(page >= Math.ceil(data / itemsPerPage)) {
            $('#pagSeg').hide();
        }

      });
    </script>
    
    <br />
    <br />
    
    <table class="lista" style="width:100%;">
    <tr>
        <th style="width:80px;"></th>
        <th style="width:50%;">TITLE</th>
        <th style="width:100px;">YEAR</th>
        <th style="width:25%;">CAST</th>
        <th style="width:25%;">GENRES</th>
        <th class="apagar"></th>
    </tr>
    <%if(list) {%>
    <% for (var i = 0; i < list.length; i++) { %>
    <tr>
        <td><a href="/filmes/<%=list[i]["_id"]%>" class="button">Ver</a></td>
        <td><%=list[i]["title"]%></td>
        <td><%=list[i]["year"]%></td>
        <td><%=list[i]["cast"]%></td>
        <td><%=list[i]["genres"]%></td>
        <td class="apagar"><button onclick="apagarConfirm('<%=list[i]["_id"]%>')">Apagar</button></td>
    </tr>
    <% } %>
    <% } %>
    </table>

<script>
function formFilme(){
    $('#formFilme').toggle();
}

function apagarConfirm(idFilme){
    if (confirm('De certeza que quer apagar?')) {
        apagarFilme(idFilme);
    }
}

$('td button').hover(function(){
  $(this).parent().siblings().eq(1).css("background-color", "red" );
  }, function(){
  $(this).parent().siblings().eq(1).css("background-color", "transparent" );
});
</script>

<%- include('footer'); -%>
